<div class="container-fluid mt-4 px-4" *ngIf="pelicula">
  <div class="wireframe-frame mb-4 p-3 bg-white">
    <div class="row">
      <div class="col-md-4">
        <div class="border border-dark" style="height: 450px;">
           <img [src]="pelicula.imagen" class="w-100 h-100" style="object-fit: cover;">
        </div>
      </div>
      <div class="col-md-8">
        <h2 class="fw-bold text-dark">{{ pelicula.titulo }}</h2>
        <p class="text-muted">Clasificación ID: {{ pelicula.id_clasificacion }} | {{ pelicula.duracion_min }} min</p>
        <p class="mb-4">{{ pelicula.sinopsis }}</p>
        
        <h6 class="fw-bold">SELECCIONA SESIÓN:</h6>
        <select class="form-select border-dark rounded-0 mb-4" (change)="alSeleccionarSesion($event)">
          <option value="">-- Elige un horario --</option>
          <option *ngFor="let s of sesiones" [value]="s.id">{{ s.fecha }} - {{ s.hora }} ({{ s.formato }})</option>
        </select>

        <div *ngIf="sesionSeleccionada">
          <h6 class="fw-bold text-center border-bottom border-dark pb-2">PANTALLA</h6>
          <div class="bg-dark w-100 mb-4" style="height: 8px; border-radius: 50% 50% 0 0;"></div>
          
          <div class="d-flex flex-wrap justify-content-center gap-1 mx-auto" style="max-width: 400px;">
            <div *ngFor="let a of asientosDeLaSala" 
                 class="seat-box" 
                 [ngClass]="{'box-libre': a.estado === 'Libre', 'box-ocupado': a.estado === 'Ocupado', 'box-reservado': a.estado === 'Reservado'}"
                 (click)="seleccionarAsiento(a)">
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-end mt-4 pt-3 border-top border-dark">
            <div>
              <p class="mb-0">Asientos: <span class="text-danger fw-bold">
                <span *ngFor="let sel of asientosSeleccionados">{{ sel.id }} </span>
              </span></p>
              <h4 class="fw-bold">Total: {{ precioTotal }}€</h4>
            </div>
            <button class="btn btn-red fw-bold px-5 py-2" (click)="confirmarCompra()">PAGAR CON STRIPE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>