<div class="container-fluid mt-4 px-4" *ngIf="pelicula">
  <div class="wireframe-frame mb-4 p-3 bg-white">
    <div class="row">
      <div class="col-md-4">
        <div class="border border-dark bg-light d-flex align-items-center justify-content-center flex-column" style="height: 100%; min-height: 200px;">
           <span class="text-danger fs-1">▶</span><span class="fw-bold">TRÁILER</span>
        </div>
      </div>
      <div class="col-md-8">
        <h3 class="fw-bold text-dark">{{ pelicula.titulo }}</h3>
        <p class="text-muted small">{{ pelicula.generos.join(', ') }} | {{ pelicula.duracion }} | {{ pelicula.edad }}</p>
        <p class="small mb-4">{{ pelicula.sinopsis }}</p>
        
        <select class="form-select border-dark rounded-0 mb-3" (change)="alSeleccionarSesion($event)">
          <option value="">-- Selecciona una sesión --</option>
          <option *ngFor="let s of sesiones" [value]="s.id">{{ s.fecha }} - {{ s.hora }} ({{ s.formato }}) - {{ s.precio }}€</option>
        </select>
      </div>
    </div>
  </div>

  <div class="wireframe-frame p-3 bg-white" *ngIf="sesionSeleccionada">
    <h5 class="fw-bold border-bottom border-dark pb-2 text-center">PANTALLA</h5>
    <div class="bg-dark w-75 mx-auto mb-4" style="height: 10px; border-radius: 50% 50% 0 0 / 100% 100% 0 0;"></div>

    <div class="d-flex justify-content-center mb-4">
       <div class="d-flex flex-wrap justify-content-center" style="max-width: 320px; gap: 5px;">
          <div *ngFor="let a of asientosDeLaSala" 
               class="seat-box" 
               [ngClass]="{'box-libre': a.estado === 'Libre', 'box-ocupado': a.estado === 'Ocupado', 'box-reservado': a.estado === 'Reservado'}"
               (click)="seleccionarAsiento(a)">
          </div>
       </div>
    </div>

    <div class="d-flex justify-content-between align-items-center border-top border-dark pt-3">
      <div>
        <p class="mb-0 fw-bold">Asientos: <span class="text-danger"><span *ngFor="let a of asientosSeleccionados">{{ a.id }} </span></span></p>
        <p class="mb-0 fw-bold">Total: {{ precioTotal }}€</p>
      </div>
      <button class="btn btn-red fw-bold px-4" (click)="confirmarCompra()">CONFIRMAR COMPRA</button>
    </div>
  </div>
</div>